<div class="card">
    <div class="card_header" style="margin-bottom: 25px;">
        <h2 class="title_h2">  Mes articles</h2>
    </div>

    <div class="card_body">
        <div class="table_responsive">
            <table width="100%">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date</th>
                        <th>Comments</th>
                        <th>Likes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article => { %>
                        <tr>
                            <td>
                                <a href="../<%= article.slug %>"><%= article.title %></a>
                            </td>
                            <td>
                                <%= article.user.pseudo %>
                            </td>
                            <td><%= article.createdAt %></td>
                            <td>
                                <%= article.comments.length %>
                            </td>
                            <td> 
                                <%= article.likers.length %>
                                <sub class="likeadmin"><i class="fas fa-fire"></i></sub>
                            </td>
                            <td>
                                <ul class="adminMenu">
                                    
                                    <li>
                                        <a href="./edit/<%= article.id %>" title="Editer l'article"><span><i class="fas fa-edit"></i></span></a>
                                    </li>
                                    <li>
                                        <form action="/admin/<%= article.id %>?_method=DELETE" method="post">
                                            <button type="submit" title="Supprimer l'article" class="btn_delete"><span><i class="fas fa-times-circle"></i></span></button>
                                        </form>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>